<h1>New bookmark</h1>
<%= simple_form_for [@bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
