.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
  url("https://wallpapercave.com/wp/wp7765691.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: 500;
}
